huggingface_hub==0.26.2
transformers==4.45.2
diffusers==0.31.0
einops==0.8.0
pytz==2024.2
typed_argument_parser==1.10.1
image_reward==1.5
git+https://github.com/openai/CLIP.git
wandb==0.18.7
scipy==1.14.1
tensorboard==2.18.0